mkdocs
click-man
mkdocs-material
mkdocs-rtd-dropdown
mkdocs-enumerate-headings-plugin
mkdocs-tooltips
mkdocs-minify-plugin
mkdocs-static-i18n
mkdocs-redirects
mkdocs-print-site-plugin
mkdocs-charts-plugin
mkdocs-git-revision-date-localized-plugin
git+https://github.com/rkoe/mkdocs-emailprotect